<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fuseapp">

    <application
        android:allowBackup="true"
        android:label="FuseApp"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuseApp">

        <!-- Set IntroActivity as the launcher activity -->
        <activity android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare the other activities -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ProfileActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".SettingsActivity"
            tools:ignore="Instantiatable" />


    </application>

</manifest>
